* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.4px;
}

.showcase {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 29, 7, 0.8)), to(rgba(255, 255, 255, 0.295))), url("images/coffee-background.jpg");
  background: linear-gradient(rgba(44, 29, 7, 0.8), rgba(255, 255, 255, 0.295)), url("images/coffee-background.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.showcase__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10rem;
}

.showcase__buttons button {
  width: 8rem;
  margin: 1rem 0;
  padding: 0.5rem 0;
}

.showcase__logo {
  font-family: 'Marck Script', cursive;
  color: white;
  padding: 2rem;
  font-size: 2.2rem;
}

.form {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(128, 128, 128, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__content input {
  margin: 0.5rem 0;
  padding: 0.35rem 0;
}

.form__close {
  position: relative;
  top: 13rem;
  right: 6rem;
  font-size: 1.7rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form__btn {
  padding: 0.35rem 0;
  width: 9.4rem;
  margin-top: 1rem;
}

.form form {
  background: #d4d4d4;
  width: 65vw;
  height: 50vh;
}

.form__warning {
  margin-top: 2rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  text-align: center;
}

.about__content {
  background: rgba(95, 39, 6, 0.918);
  padding: 4rem 2rem;
  margin: 0 1.5rem;
  color: #d1d1d1;
}

.about__heading {
  margin-bottom: 1rem;
}

.about__para {
  padding: 1rem 0;
}

.about__close {
  position: absolute;
  top: 11rem;
  right: 2.8rem;
  font-size: 1.7rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=app.css.map */