* {
  margin: 0;
  padding: 0;
}

@mixin flexCenter($direction, $justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

@mixin medium-screen {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: 880px) {
    @content;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.4px;
}

.showcase {
  background: linear-gradient(rgba(44, 29, 7, 0.8), rgba(255, 255, 255, 0.295)), url('images/coffee-background.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  &__buttons {
    @include flexCenter(column, center);
    margin-top: 10rem;
    button {
      width: 8rem;
      margin: 1rem 0;
      padding: 0.5rem 0;
      background: rgba(85, 34, 5, 0.842);
      color: rgb(230, 230, 230);
      @include medium-screen {
        width: 10rem;
        padding: 0.8rem 0;
        font-size: 1rem;
      }
      @include large-screen {
        &:hover {
          cursor: pointer;
          background: rgba(160, 65, 10, 0.842);
        }
      }
    }
  }
  &__logo {
    font-family: 'Marck Script', cursive;
    color: white;
    padding: 2rem;
    font-size: 2.2rem;
    @include medium-screen {
      font-size: 3rem;
    }
  }
}



.form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(128, 128, 128, 0.5);
  @include flexCenter(column, center);
  &__content {
    position: relative;
    @include flexCenter(column, center);
    padding-top: 2.5rem;
    input {
      margin: 0.5rem 0;
      padding: 0.35rem 0;
    }
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 1.7rem;
    transform: rotate(45deg);
    &:hover {
      cursor: pointer;
    }
  }
  &__btn {
    padding: 0.35rem 0;
    width: 9.4rem;
    margin-top: 1rem;
  }
  form {
    background: rgba(85, 34, 5, 0.842);
    color: rgb(230, 230, 230);
    width: 65vw;
    height: 45vh;
    border-radius: 5px;
    @include medium-screen {
      width: 50vw;
    }
    @include large-screen {
      width: 30vw;
      height: 65vh;
    }
  }
  &__warning {
    margin: 1rem 1rem;
    text-align: center;
    &--hide {
      visibility: hidden;
    }
    &--show {
      visibility: visible;
    }
  }
}

.about {
  @include flexCenter(column, center);
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  text-align: center;
  &__content {
    position: relative;
    background: rgba(85, 34, 5, 0.842);
    color: rgb(230, 230, 230);
    padding: 4rem 2rem;
    margin: 0 1.5rem;
  }
  &__heading {
    margin-bottom: 1rem;
  }
  &__para {
    padding: 1rem 0;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 1.7rem;
    transform: rotate(45deg);
    &:hover {
      cursor: pointer;
    }
  }

}
  
