* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.4px;
}

.showcase {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 29, 7, 0.8)), to(rgba(255, 255, 255, 0.295))), url("images/coffee-background.jpg");
  background: linear-gradient(rgba(44, 29, 7, 0.8), rgba(255, 255, 255, 0.295)), url("images/coffee-background.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.showcase__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10rem;
}

.showcase__buttons button {
  width: 8rem;
  margin: 1rem 0;
  padding: 0.5rem 0;
  background: rgba(85, 34, 5, 0.842);
  color: #e6e6e6;
}

@media (min-width: 600px) {
  .showcase__buttons button {
    width: 10rem;
    padding: 0.8rem 0;
    font-size: 1rem;
  }
}

@media (min-width: 880px) {
  .showcase__buttons button:hover {
    cursor: pointer;
    background: rgba(160, 65, 10, 0.842);
  }
}

.showcase__logo {
  font-family: 'Marck Script', cursive;
  color: white;
  padding: 2rem;
  font-size: 2.2rem;
}

@media (min-width: 600px) {
  .showcase__logo {
    font-size: 3rem;
  }
}

.form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(128, 128, 128, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2.5rem;
}

.form__content input {
  margin: 0.5rem 0;
  padding: 0.35rem 0;
}

.form__close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.7rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form__close:hover {
  cursor: pointer;
}

.form__btn {
  padding: 0.35rem 0;
  width: 9.4rem;
  margin-top: 1rem;
}

.form form {
  background: rgba(85, 34, 5, 0.842);
  color: #e6e6e6;
  width: 65vw;
  height: 45vh;
  border-radius: 5px;
}

@media (min-width: 600px) {
  .form form {
    width: 50vw;
  }
}

@media (min-width: 880px) {
  .form form {
    width: 30vw;
    height: 65vh;
  }
}

.form__warning {
  margin: 1rem 1rem;
  text-align: center;
}

.form__warning--hide {
  visibility: hidden;
}

.form__warning--show {
  visibility: visible;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  text-align: center;
}

.about__content {
  position: relative;
  background: rgba(85, 34, 5, 0.842);
  color: #e6e6e6;
  padding: 4rem 2rem;
  margin: 0 1.5rem;
}

.about__heading {
  margin-bottom: 1rem;
}

.about__para {
  padding: 1rem 0;
}

.about__close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.7rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.about__close:hover {
  cursor: pointer;
}
/*# sourceMappingURL=app.css.map */